@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .header a.active {
    color: white;
  }
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
  .image-list {
    columns: 3 200px;
    column-gap: 5px;
  }
  .image {
    margin-bottom: 5px;
    width: 100%;
    object-fit: cover;
  }
  .tcolor {
    position: relative;
  }
  .colorCol {
    display: block;
    width: 20px;
    height: 20px;
    /* border: 2px solid rgb(106, 106, 106);     */
  }
  .tcolor::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: yellow;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
  .sidebar-list-item {
    @apply whitespace-nowrap pr-8 mb-2;
  }
  .sidebar-list-item a {
    @apply whitespace-nowrap pr-8 mb-2 text-xl font-semibold text-black-four opacity-60 hover:opacity-100;
  }
  .sidebar-list-item a.active {
    @apply opacity-100 text-blue-five;
  }
  .navbar-list-item {
    @apply font-bold text-2xl text-yellow-400 hover:text-yellow-300;
  }
  .thead,
  .tdata {
    @apply px-8 py-2 text-center;
  }
  .playlist-container {
    @apply border border-black-one rounded p-4;
  }
  .playlist {
    @apply flex flex-col items-start mt-4 w-[400px] list-decimal;
  }
  .playlist-item {
    @apply border-b border-gray-300 py-2 w-full flex items-center justify-between;
  }
}
