@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }  
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
  .image-list {
    columns: 3 200px;
    column-gap: 5px;
  }
  .image {
    margin-bottom: 5px;
    width: 100%;
    object-fit: cover;
  }

  input {
    @apply w-1/2 px-2 py-1 rounded outline-none
  }
  .sidebar-list-item {
    @apply whitespace-nowrap pr-8 mb-2
  }
  
}

/* .heart-icon {
  height: 24px;
  width: 24px;
} */